@import 'var';
body{
    width: $awidth;height: auto;min-height: 600px;
}
/*header*/
#header{
    width: 100%;height: 65px;
    .container{
        height: 60px;
        .logo {
            width: 260px;height: 55px;margin-top: 5px;
             a{
                width: 230px;height: 55px;overflow: hidden;
                img{
                   margin-top: -10px; margin-left: -23px;
                }
            }
        }
        .search{
            width: 750px;height: 46px;padding-top: 7px;
            .seachLeft{
                width: 378px;margin-top: 12px;height: 34px;background-color: #d51819;
                #text{
                    width: 285px;height: 22px;padding: 5px 0 5px 5px;margin-right: 6px;float:left;border: 1px solid #d51819;color: #666;line-height: 22px;outline-offset: -2px;font-size: 12px;outline:none;
                }
                #btn{
                    width: 80px;height: 32px;padding: 0 12px;float:right;background-color: #d51819;border: 0 none;font-size: 14px;line-height: 32px;color: #fff;text-align:right;outline:none;
                }
            }
            .seachRight{
                width: 350px;margin-top: 20px;height: 15px;line-height: 15px;
                a{
                    float:left;color: #666;padding: 0 10px;border-right: 1px solid #DCDCDC;
                    em{
                        font-style: normal;color: #d51819;
                    }
                }
                .last{
                    border-right: 0 none;
                }
            }
        }
        .shopBag{ 
            width: 150px;height: 55px;background: url(../img/pic.png) 0 -410px no-repeat;
            .bagContent {
                margin-left: 15px;padding-left: 30px;
                 a{
                    font: 400 14px "微软雅黑","宋体";margin-top: 27px;float:left;color: #000;
                    em{
                        font-weight: 400;font-style: normal;color: #d93938;
                    }
                }
            }
        }
    }
}

/*nav*/
#nav{
    width: 100%;height: 28px;font-size: 14px;line-height: 29px;border-bottom: 1px solid #d51819;padding: 20px 0 5px;
    .nav_ul{
        width: 1200px;font-size: 14px;margin: 0 auto;line-height: 30px;
        li {
            float:left;padding: 0 15px;height: 33px;
            a{
                color: #000;height: 33px;
                img{
                    margin-top: -10px;
                }
            }
        }
        .right{
            float:right;padding: 0;bottom: 0;position: relative;
            a {
                height: 40px;
                img{
                     margin-top: -7px;
                }
            }
        }
        .shop_flei{
            position: relative;z-index: 899;margin-top: -6px;padding: 0 12px;height: 40px;width: 212px;line-height: 40px;cursor: pointer;color: #fff;background-color: #d51819;
            i{
                padding-right: 14px;vertical-align: sub;font-size: 26px;font-weight: 600;
            }
            .left_nav{
                position: absolute;background-color: #ccc;left:0;top: 40px;width: 224px;height: 530px;border: 1px solid #d51819;border-top: 0;padding-left: 10px;z-index:99;line-height: 18px;
                .left_nav_ul{
                    width: 224px;height: 530px;
                    li{
                        width: 224px;font-size: 18px;padding:0 !important;
                        dl{
                            width: 224px;position: relative;
                            dt{
                                position: relative;width: 224px;height: 19px;margin-top: 10px;font-weight: bold;
                                a{
                                    display: inline-block;font: bold 14px "Microsoft YaHei" !important;padding-right: 10px;color: #222;
                                }
                            }
                            dd{
                                width: 221px;
                                a{
                                    display: inline-block;font: 400 14px "Microsoft YaHei" !important;padding-right: 3px;color: #696969;line-height: 19px;height: 19px !important;

                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
/*banner*/
#banner{
    width: 100%;
    .container{
        height: 531px;
        .banner_box{
            position: relative;width: 718px;height: 526px;padding: 5px;padding-bottom: 0; background-color: yellow;margin-left:236px;
        }
        .banner_right{
            width: 236px;height: 526px;margin-top: 5px;background-color: #fff;
            .br_bt{
                    margin-bottom: 5px;
                img{
                    width: 236px; height: 354px;  
                }
            }
            .br{
                img{
                    width: 236px;height: 166px;
                }
            }
        }
    }

}
.hot_band{
    width: 1200px;height: 132px;margin: 0 auto;position: relative;overflow: hidden;
    .duanmaBox{
        width: 2405px;height: 118px;position: absolute;top:0;left:0;padding: 7px 0;
        li{
            width: 236px;height: 118px;margin-right: 5px;float:left;
            a{
               width: 100%;height: 100%; 
               img{
                    width: 100%;height: 100%; 
               }
            }
            
        }
        li:last-child{
            margin-right: 0;
        }
    }
    span{
        display: block;z-index: 999;width: 40px;height: 40px;position: absolute;right: 3px;top: 46px;cursor: pointer;
    }
    .hot_band_btn_prev{
        background:url(../img/index/prev.png) no-repeat;left: 3px;
    }
    .hot_band_btn_next{
        background:url(../img/index/next.png) no-repeat;
    }

}

#main{
    width: 100%;
    .container{
        .special_sale{
            width: 100%;height: 300px;margin-bottom: 20px;position: relative;
            a,div{
                position: absolute;top:0;
                img{
                    height: 300px;
                }
            }
            .timer{
                top: 213px;font-size: 18px;width: 149px;height: 22px;background-color:red;
            }
            .special1{
                left:0;
                img{
                    width: 118px;
                }
            }
            .special2{
                left:118px;
                img{
                    width: 149px;height: 213px;
                }
            }
            .timer1{
                left:118px;
            }
            .special3{
                left:118px;top:235px;
                img{
                    width: 149px;height: 65px;
                } 
            }
            .special4{
                left:267px;
                img{
                    width: 333px;height: 300px;
                }
            }
            .special5{
                left:600px;
                img{
                    width: 118px;height: 300px;
                }
            }
            .special6{
                left:718px;
                img{
                    width: 149px;height: 213px;
                }
            }
            .timer2{
                left:718px;
            }
            .special7{
                left:718px;top:235px;
                img{
                    width: 149px;height: 65px;
                }
            }
            .special8{
                left:867px;
                img{
                    width: 333px;height: 300px;
                }
            }
        }
        .fq_box{
            width: 100%;height: 540px;position: relative;
            .sale_left{
                width: 240px;height: 540px;
                .sale_left_list{
                    width: 240px;height: 93px;background:url(../img/index/sale_left_listbg.png) no-repeat;padding: 11px 0;
                    a{
                        width: 90px;height: 31px;line-height: 31px;color: #000;display: inline-block;font-size: 14px;padding-left: 20px;
                    }
                }
                .sale_left_brand{
                    position: relative;
                    .sale_left_brand_same{
                        position: absolute;
                    }
                    .brand1{
                        left:0;top:0;
                    }
                    .brand2{
                        left:120px;top:0;
                    }
                    .brand3{
                        left:0;top:60px;
                    }
                    .brand4{
                        left:120px;top:60px;
                    }
                    .brand5{
                        left:0;top:120px;
                    }
                    .brand6{
                        left:120px;top:120px;
                    }
                }
            }
            .same{
                position: absolute;top:60px;
            }
            .louceng2{
                left:240px;
            }
            .louceng3{
                left:480px;
            }
            .louceng4{
                left:960px;
            }
            .louceng5{
                left:480px;top:300px;
            }
            .louceng6{
                left:720px;top:300px;
            }
            .louceng7{
                left:960px;top:300px;
            }
        }
    }
}


/*last-bottom*/
.last_bottom_wrap{
    width: 100%;
    .container{
        height: 240px;margin: 53px auto 0;position: relative;
        .share_Left{
            width: 839px;height: 240px;
            li{
                float:left;height: 238px;border: 1px solid #dcdcdc;margin-right: -1px;
            }
        }
        .share_Right{
            width: 359px;height: 238px;border: 1px solid #dcdcdc;background-color: #fafafa;
            .Contact_Top{
                width: 100%;height: 150px;text-align: center;
            }
            .Contact_Bottom{
                width: 359px;height: 88px;
                li{
                    float:left;width: 120px;height: 88px;text-align: center;
                    img{
                        display: inline-block;margin: 14px auto 8px;
                    }
                    p {
                        line-height: 16px;color: #999;font-weight: 700;
                    }
                }
                .nobg{
                    width: 119px;
                }
            }
        }
    }
}
/*footer*/
#footer{
    width: 100%;margin-top: 40px;background: url(../img/index/footer_guide.png) repeat-x;
    .footer_guide{
        width: 100%;height: 179px;padding-top: 11px;width: 1200px;
        dl{
            width: 200px;height: 121px;float:left;
            dt{
                font-weight: 700;font-size: 14px;padding-bottom: 10px;margin-bottom: 5px;color: #231815;
            }
            dd{
                padding-top: 13px;
                a{
                    color: #231815;
                }
            }
        }
    }
    .footer_Copyright{
        width: 100%;height: 74px;margin: 20px auto 0;padding: 20px 0 15px;border-top: 1px solid #999;
        p {
            margin: 0 auto;text-align: center;font-size: 14px;font-weight: 700;color: #787878;height: 19px;line-height: 19px;
        }
        span{
            margin: 0 auto;display: block;width: 264px;height: 40px;margin-top: 15px;
            a{
                color: #000;float:left;
            }
             .sh{
               padding-left: 10px;
            }
        }
    }
}
