body {
    font: 12px/1.5em Tahoma, Helvetica, Arial, \5B8B\4F53, sans-serif;
    color: #333;
}
#header{
    width: 980px;height: 100px;margin: 0 auto;
    h1{
        width: 220px;height: 100px;line-height: 100px;float:left;text-indent: -9999px;
    }
    a{
        width: 220px;height: 100px;background: url(../img/index/logoadd.jpg) no-repeat;
    }
}
#cont{
    width: 980px;margin: 0 auto;
    .cont_top{
        height: 26px;border-bottom: 2px solid #6e6e6e;
        span{
            display: block;width: 160px;height: 26px;line-height: 26px;background-color: #6e6e6e;color: #fff;text-align: center;font-weight: bold;font-size: 14px;border-top-left-radius: 8px;border-top-right-radius: 8px;
        }
    }
    .box{
        width: 978px;height: 380px;margin: 0 auto;border: 1px solid #ccc;margin-top: 10px;
        .box_left{
            width: 743px;height: 276px;padding: 20px 0 30px 15px;
            h3{
                width: 700px;font-size: 14px;text-indent: 20px;line-height: 30px;margin-left: 15px;border-bottom: 1px dotted #E6E6E6;font-weight: 400;
            }
            form{
                width: 743px;height: 230px;
                div{
                    color: #000;width: 700px;height: 56px;padding-top: 10px;margin-top: 5px;
                    label{
                        width: 120px;line-height: 30px;font-size: 14px;color: #666;text-align:right;float:left;
                    }
                    input{
                        width: 240px;height: 28px;line-height: 28px;padding-right: 5px;margin-right: 10px;border: 1px solid #ABABAB;box-shadow: 0 0 5px #ccc;float:left;
                    }
                    span{
                        display: block;width: 305px;margin-top: -2px;color: #999;line-height: 16px;float:left;
                    }
                }
                #Rsub{
                    width: 152px;height: 34px;line-height: 34px;cursor: pointer;margin-left: 120px;
                }
            }
        }
    }
}
.r_bottom{
    width: 980px;margin: 0 auto; padding-top: 20px;text-align: center; 
}