@charset "UTF-8";
body { line-height: 18px; }

.breadnav { width: 1200px; height: 26px; margin: 0 auto; padding: 15px 0 5px 0; margin-top: 20px; }

.breadnav .breadnavLink { height: 16px; padding: 5px 0; }

.breadnav .breadnavLink a { color: #000; display: inline-block; line-height: 16px; }

.breadnav .breadnavLink a::after { content: ">"; }

.breadnav .breadnavLink .last::after { content: ""; }

/*gooddetail*/
#goodDetail .leftImg { width: 480px; height: 620px; margin-right: 50px; }

#goodDetail .leftImg .pictureArea { width: 480px; height: 575px; position: relative; }

#goodDetail .leftImg .pictureArea .normalPic { width: 480px; height: 480px; position: relative; }

#goodDetail .leftImg .pictureArea .normalPic img { width: 100%; height: 100%; }

#goodDetail .leftImg .pictureArea .bigPic { position: absolute; width: 480px; height: 480px; z-index: 999; border: 1px solid #ccc; left: 520px; top: 0; display: none; }

#goodDetail .leftImg .pictureArea .smallPic { width: 480px; height: 80px; margin-top: 15px; }

#goodDetail .leftImg .pictureArea .smallPic li { width: 80px; height: 80px; margin-right: 20px; float: left; border: 1px solid #c7c7c7; cursor: pointer; box-sizing: border-box; }

#goodDetail .leftImg .pictureArea .smallPic li img { width: 78px; height: 78px; }

#goodDetail .leftImg .pictureArea .smallPic li:last-child { margin-right: 0; }

#goodDetail .leftImg .pictureArea .smallPic .active { border: 1px solid #f8584f; }

#goodDetail .leftImg .shares { width: 480px; height: 20px; overflow: visible; margin-top: 25px; }

#goodDetail .leftImg .shares span { line-height: 20px; display: inline-block; font-size: 14px; color: #999; }

#goodDetail .leftImg .shares .bianhao { margin-right: 35px; text-transform: uppercase; }

#goodDetail .leftImg .shares .sharefuhao { height: 35px; margin: 0 35px; }

#goodDetail .leftImg .shares .dianzan { color: #f8584f; margin-left: 35px; font-family: "微软雅黑"; padding-left: 30px; background-size: 18px 16px; }

#goodDetail .rightMessage { width: 670px; height: 549px; }

#goodDetail .rightMessage .good_brand_title { width: 100%; height: 24px; line-height: 24px; overflow: hidden; }

#goodDetail .rightMessage .good_brand_title a { float: left; color: #222; font-size: 18px; font-weight: 700; text-transform: uppercase; margin-right: 10px; }

#goodDetail .rightMessage .good_brand_title .good_title { float: left; color: #222; font-size: 16px; font-weight: 600; }

#goodDetail .rightMessage .good_detail_base { width: 100%; height: auto; margin-top: 18px; background-color: #f6f6f6; box-sizing: border-box; }

#goodDetail .rightMessage .good_detail_base ul { width: 100%; padding-bottom: 15px; height: 75px; }

#goodDetail .rightMessage .good_detail_base ul li { height: 29px; padding: 15px 15px 0 15px; }

#goodDetail .rightMessage .good_detail_base ul li b { color: #222; font-weight: 400; }

#goodDetail .rightMessage .good_detail_base ul li strong { font-weight: 700; font-size: 22px; color: #f8584f; }

#goodDetail .rightMessage .good_detail_base ul li i { padding-left: 30px; color: #222; font-style: normal; }

#goodDetail .rightMessage .good_detail_base ul li .before { padding-left: 5px; color: #696969; font-style: normal; text-decoration: line-through; }

#goodDetail .rightMessage .good_detail_base ul li .discount { display: inline-block; padding: 3px 10px; height: 16px; color: #fff; margin-top: 5px; background-color: #f84646; margin-left: 375px; }

#goodDetail .rightMessage .good_detail_base ul li .nodiscount { display: inline-block; height: 16px; color: #696969; float: left; }

#goodDetail .rightMessage .good_detail_base ul li .rules { position: relative; }

#goodDetail .rightMessage .good_detail_base ul li .rules .rules_show { width: 400px; height: 90px; padding: 10px; position: absolute; line-height: 150%; background-color: #fff; left: 0; top: 17px; margin-left: -373px; box-shadow: 0 0 15px #ccc; z-index: 111; }

#goodDetail .rightMessage .good_sail { width: 370px; height: 16px; color: #696969; padding: 6px 0; margin-top: 20px; }

#goodDetail .rightMessage .good_sail i { font-style: normal; margin-left: 20px; }

#goodDetail .rightMessage .good_sail span { display: inline-block; color: #f8584f; margin: 0 4px; padding-right: 20px; border-right: 1px solid #ededed; }

#goodDetail .rightMessage .good_color_size { width: 100%; }

#goodDetail .rightMessage .good_color_size .good_color_list { width: 100%; height: 81px; overflow: hidden; margin-top: 20px; }

#goodDetail .rightMessage .good_color_size .good_color_list dt { width: 100%; overflow: hidden; height: 16px; }

#goodDetail .rightMessage .good_color_size .good_color_list dt b { font-weight: 400; color: #666; }

#goodDetail .rightMessage .good_color_size .good_color_list dd { height: 65px; }

#goodDetail .rightMessage .good_color_size .good_color_list dd a { float: left; width: 51px; height: 51px; padding: 1px; border: 1px solid #dcdcdc; margin: 10px  10px 0 0; }

#goodDetail .rightMessage .good_color_size .good_size_list { width: 100%; height: 56px; margin-top: 20px; position: relative; }

#goodDetail .rightMessage .good_color_size .good_size_list .cmxzzs { position: absolute; top: 0; right: 10px; padding-left: 20px; color: #666; }

#goodDetail .rightMessage .good_color_size .good_size_list dt { width: 100%; overflow: hidden; height: 16px; }

#goodDetail .rightMessage .good_color_size .good_size_list dt b { font-weight: 400; color: #666; }

#goodDetail .rightMessage .good_color_size .good_size_list dd { height: 65px; }

#goodDetail .rightMessage .good_color_size .good_size_list dd a { width: 63px; height: 18px; border: 1px solid #DCDCDC; padding: 5px; text-align: center; color: #696969; margin-top: 10px; margin-right: 10px; float: left; }

#goodDetail .rightMessage .good_buy_num { width: 550px; height: 27px; margin-top: 20px; }

#goodDetail .rightMessage .good_buy_num .buy1 { width: 60px; overflow: hidden; padding-top: 5px; height: 16px; float: left; display: block; }

#goodDetail .rightMessage .good_buy_num a { height: 23px; border: 1px solid #dcdcdc; margin: 2px 5px 0 5px; line-height: 23px; font-size: 14px; text-align: center; }

#goodDetail .rightMessage .good_buy_num .dec, #goodDetail .rightMessage .good_buy_num .add { width: 23px; float: left; }

#goodDetail .rightMessage .good_buy_num .text { width: 30px; height: 19px; padding: 2px 5px; border: 1px solid #dcdcdc; margin-top: 2px; float: left; }

#goodDetail .rightMessage .good_buy_num .havenum { float: left; display: block; color: #666; }

#goodDetail .rightMessage .good_buy_num .havenum strong { font-weight: 400; line-height: 200%; color: red; }

#goodDetail .rightMessage .good_add_bagbtn { width: 200px; height: 55px; }

#goodDetail .rightMessage .good_add_bagbtn a { width: 200px; height: 16px; padding: 9px 0 10px 0; margin-top: 20px; background-color: red; color: #fff; text-align: center; }

#goodDetail .rightMessage .good_add_bagbtn a:hover { color: #000; }

#goodDetail .rightMessage .good_keywords { width: 550px; height: 16px; }

#goodDetail .rightMessage .good_keywords li { float: left; display: block; margin-right: 15px; color: #000; }

#goodDetail .rightMessage .good_keywords li a { display: inline-block; color: #666; }

#goodDetail .rightMessage .good_more { width: 670px; height: 33px; margin-top: 20px; }

#goodDetail .rightMessage .good_more span { float: left; }

#goodDetail .rightMessage .good_more li { float: left; min-width: 300px; color: #666; margin-bottom: 15px; }
