/* 
* @Author: Marte
* @Date:   2017-09-02 22:49:02
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-02 23:25:49
*/
/*login*/
body {
    font: 12px/1.5em Tahoma, Helvetica, Arial, \5B8B\4F53, sans-serif;
    color: #333;
}
#header{
    width: 980px;height: 100px;margin: 0 auto;
}
#header h1{
        width: 220px;height: 100px;line-height: 100px;float:left;text-indent: -9999px;
    }
#header a{
        width: 220px;height: 100px;background: url(../img/index/logoadd.jpg) no-repeat;
    }
#cont{
    width: 980px;height: 481px;margin: 0 auto;margin-top: 25px;
}
#cont .left{
    width: 640px;height: 430px; 
}
#cont .right{
    width: 340px;height: 481px;
}
#cont .right .login_tab{
    width: 340px;height: 40px;position: relative;
}
#cont .right .login_tab h3{
    position: absolute;top: 4px;color: #666;height: 34px;line-height: 34px;font-size: 14px;cursor: pointer;text-align: center;border: 1px solid #ccc;background-color: #fff;
}
#cont .right .login_tab .t1{
    width: 108px;left:0;
}
#cont .right .login_tab .t2{
    width: 108px;left: 109px;
}
#cont .right .login_tab .t3{
    width: 120px;left: 218px;
}
#cont .right .login_tab .active{
    top: 0;padding-top: 3px;border-top: 2px solid #c00;border-bottom:0 none;
}
#cont .right .login_content{
    width: 338px;height: 440px;border: 1px solid #ccc;border-top: none;padding-top: 1px;margin-top: -1px;
}
.r_bottom{
    width: 980px;margin: 0 auto; padding-top: 20px;text-align: center; 
}
.r_bottom a{
    display: inline-block;color: #666;
}
.r_bottom a:hover{
    text-decoration: underline;
}